<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.RotiKapraMakan"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/charity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.RotiKapraMakan.Home"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.RotiKapraMakan.Main"
            android:label="RotiKapraMakan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.RotiKapraMakan.Maps"
            android:label="@string/title_activity_maps"
            android:parentActivityName="com.example.RotiKapraMakan.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.RotiKapraMakan.Main" />
        </activity>
        <activity
            android:name="com.example.RotiKapraMakan.CurLoc"
            android:label="@string/title_activity_cur_loc"
            android:parentActivityName="com.example.RotiKapraMakan.Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.RotiKapraMakan.Home" />
        </activity>
        <activity
            android:name="com.example.RotiKapraMakan.AnyLoc"
            android:label="@string/title_activity_any_loc"
            android:parentActivityName="com.example.RotiKapraMakan.Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.RotiKapraMakan.Home" />
        </activity>
        <activity
            android:name="com.example.RotiKapraMakan.Camera"
            android:label="@string/title_activity_camera" >
        </activity>
        <activity
            android:name="com.example.RotiKapraMakan.SubmitPhoto"
            android:label="@string/title_activity_submit_photo" >
        </activity>
        <activity
            android:name="com.example.RotiKapraMakan.Submit"
            android:label="@string/title_activity_submit" >
        </activity>
        <activity
            android:name="com.example.RotiKapraMakan.eEtc"
            android:label="@string/title_activity_submit_photo" >
        </activity>
        <activity
            android:name="com.example.RotiKapraMakan.SubmitAnyLoc"
            android:label="@string/title_activity_submit_any_loc" >
        </activity>
        <activity
            android:name="com.example.RotiKapraMakan.ThankYou"
            android:label="@string/title_activity_thank_you" >
        </activity>
    </application>

</manifest>
